footer.site-footer
	.container
		.row
			.col-sm-12.col-md-2
				a(href="/home" title=`${projectName}` class="site-logo")
					img(src=`${images}brand.png` width="auto" alt=`Logo ${projectName}`).img-adaptive
			.col-sm-6.col-md-2
				ul
					li: a(href="#") Lorem
					li: a(href="#") Lorem
					li: a(href="#") Lorem
					li: a(href="#") Lorem

			.col-sm-6.col-md-3
				ul
					li: a(href="#") Lorem
					li: a(href="#") Lorem
					li: a(href="#") Lorem
					li: a(href="#") Lorem
				
			.col-sm-6.col-md-3
				ul
					li: a(href="#") Lorem
					li: a(href="#") Lorem
					li: a(href="#") Lorem
					li: a(href="#") Lorem
			.col-md-2
				ul
					li: a(href="#") Lorem
					li: a(href="#") Lorem
		.row
			.col-sm-12.col-md-12
				ul.social
					li: a(href="#"): img(src=`${images}facebook.svg`, alt="Facebook")
					li: a(href="#"): img(src=`${images}twitter.svg`, alt="Twitter")
					li: a(href="#"): img(src=`${images}youtube.svg`, alt="Youtube")
					li: a(href="#"): img(src=`${images}linkedin.svg`, alt="Linkedin")
